.title {
    color: white;
	background-color: rgb(88, 67, 118);
    font-size: 48px;
    font-weight: 800;
	width: 100vw;
	text-align: center;
	padding: 20px 0;
	margin: -20px 0;
}

.gameboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 1480px;
	margin: 0 auto;
	padding: 20px;
    font-weight: 600;
    color: black;
}

.game-info {
	position: relative;
	margin: 30px auto 20px auto;
}

.howTo {
    width: 600px;
    margin: 40px 0;
	font-weight: 800;
	font-size: 20px;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
    align-items: center;
	justify-content: center;
}

.card {
	margin: 10px;
	cursor: pointer;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	border: 3px solid transparent;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.card:hover {
	transform: scale(1.05);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card.correct {
	border-color: green;
}

.card.wrong {
	border-color: red;
}

.breedName {
    font-weight: bold;
    font-size: 20px;
    color: rgb(249, 249, 249);
}

.score-indicator {
	position: absolute;
	left: 38px;
	top: 8px;
	color: green;
	font-weight: bold;
	font-size: 24px;
	pointer-events: none;
	animation: float-up 1s ease-out;
}

.gameOver {
	font-weight: 800;
	font-size: 24px;
	margin-bottom: 20px;
}

@keyframes float-up {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(-30px);
	}
}

/* Tablets and medium devices (min-width: 768px and max-width: 1024px) */
@media (max-width: 1024px) {
    .title {
        font-size: 36px;
    }
    .gameboard {
        padding: 10px;
    }
    .howTo {
        width: 80%;
    }
    .breedName {
        font-size: 18px;
    }
}

/* Mobile devices (max-width: 767px) */
@media (max-width: 767px) {
    .title {
        font-size: 28px;
    }
    .gameboard {
        padding: 10px;
    }
    .howTo {
        width: 100%;
        font-size: 14px;
        margin: 20px 0;
    }
    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        grid-gap: 10px;
    }
    .breedName {
        font-size: 16px;
    }
    .score-indicator {
        font-size: 18px;
        left: 20px;
        top: 5px;
    }
}
